body{
    width: 50%;
    height: 100svh;
    margin: auto;
    background-color: #111;
    color: white;

}

form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    >input{
        /* border: none; */
        padding: 10px;
        color: black;
        background-color: burlywood;
        border-radius: 10px;
        width: 15rem;
    }
}
pre{
    font-size: larger;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}
.cartBtn{
    border: none;
    color: black;
    background-color: violet;
    border-radius: 10px;
}